* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(182, 99, 45);
}

.header{
    font-family: monospace;
    text-align: center;
    background-color: brown;
}

.navigation{
    text-align: center;
}

.foto{
    float: right;
}

.main-content{
    background-color: aquamarine;
    text-align: center;
    width: 67%;
    padding: 0 0 0 30%;
}

.personalinfo{
    margin-top: 5px;
    background-color: blueviolet;
}

.skills{
    background-color: rgb(102, 102, 194);
    display: inline-block;
    width: 30%;
    margin-right: 10px;
    padding: 15px;
}


.footer{
    background-color: rgb(59, 160, 34);
    text-align: center;
}