main {
    background-color: rgb(81, 82, 83);
}
.description {
    color: aliceblue;
    margin-top: 10px;
    border: 3px aliceblue solid;
    border-radius: 10px; 
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

footer {
    color: aliceblue;
    text-align: center;
    background-color: rgb(48, 49, 49);
}